.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media (max-width: 600px) {
  .actions { gap: 8px; }
}
